 /*hides radio button checks for menu items-----------------------------------------------------------------------------------------------------------------------------------------------------*/
 .radio-tools {
    margin: 10px;
    opacity: 0;
    position: fixed;
    width: 0;
}

.quantity_label {
    display: inline-block;
    background-color: #ddd;
    background-image: url("../images/option-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 40px;
}

.quantity_label:hover {
    background-color: rgb(255, 253, 221);
    cursor:pointer;
}

:checked + .quantity_label {
    background-color: rgb(250, 255, 187);
    border-color: rgb(204, 195, 68);
}


/*creates clickable boxes for menu items and adds style to them---------------------------------------------------------------------------------------------------------------------------------*/
.item_label {
    display: inline-block;
    flex-direction: row;
    background-image: url("../images/button-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(53, 113, 128);
    width: 50%;
    padding: 2% 0%;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
}

.item_label:hover {
    border-color: rgb(221, 1, 241);
    cursor:pointer;
}

:checked + .item_label {
    border-color: rgb(95, 178, 255);
}

/*hides radio button checks and checkboxes for menu options-------------------------------------------------------------------------------------------------------------------------------------*/
.all_options {
    margin: 10px;
    opacity: 0;
    position: fixed;
    width: 0;
}

/*creates clickable boxes for menu item options and adds style to them--------------------------------------------------------------------------------------------------------------------------*/
.option_label {
    display: inline-block;
    background-color: #ddd;
    background-image: url("../images/option-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    padding: 1% 0%;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.option_label:hover {
    background-color: rgb(255, 253, 221);
    cursor:pointer;
}

:checked + .option_label {
    background-color: rgb(250, 255, 187);
    border-color: rgb(204, 195, 68);
}

/* Adjusting each label to for the correct image --------------------- */
#pancake_label
{
    background-image: url('../images/Pancake.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#eggs_label
{
    background-image: url('../images/FriedEggs.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#bacon_label
{
    background-image: url('../images/Bacon.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
/*Used for to adjust size of 3 images & extra stuff if needed------------Comeback to and remove if not using...--------- */
#img_bacon , #img_eggs_fried,#img_pancake
{

    width: 400px;
}
/* p - tags used for the Text inside the Image Boxes - -------*/
#text{
    margin-top: 0px;
    font-size: 25px;
    font-weight: bold;
}
/*Hides sub options by default ------NEED TO FIX THE HIDDEN AT START FUNCTIONS------------------------------------------------------------------------------------------------------------------------------------------------------------
#pasta_options,
#sauce_options,
#protein_options,
#topping_options,
#seasoning_options {
    display: none;
}
*/



/* Updating the Label tag to include images as the background -----------------*/
#l_sugar
{
    background-image: url('../images/Sugar.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#l_syrup
{
    background-image: url('../images/Syrup.jpg')
}
#l_berries
{
    background-image: url('../images/Berries.jpg');
}
#l_wh_cream
{
    background-image: url('../images/Whipped_Cream.jpg')
}
#l_sugar,#l_syrup,#l_berries,#l_wh_cream
{
    width: 400px;
    height: 250px;   
}

/* -Egg - Options */
#l_scramble
{
    background-image: url('../images/Scambled.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#l_omelette
{
    background-image: url('../images/Omelette.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#l_sunnyside
{
    background-image: url('../images/FriedEggs.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#l_red_pep
{
    background-image: url('../images/RedPepper.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#l_salt
{
    background-image: url('../images/Salt.jpg')
}
#l_sage
{
    background-image: url('../images/Sage.jpg')
}
#l_garlic
{
    background-image: url('../images/Garlic.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#l_red_pep,#l_salt,#l_sage,#l_garlic
{
    width: 400px;
    height: 250px; 

}
/* Bacon - options -------------*/

#l_smoked
{
    background-image: url('../images/Smoked_Bacon.jpg')
}
#l_turkey
{
    background-image: url('../images/Turkey_Bacon.jpg')
}
#l_canadian
{
    background-image: url('../images/Canadian_Bacon.jpg')
}
#l_pancetta
{
    background-image: url('../images/pancetta.jpg')
}
#l_canadian,#l_pancetta,#l_smoked,#l_turkey
{
    width: 400px;
    height: 250px;
}
#l_breakfast
{
    background-image: url('../images/breakfast.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#l_pasta
{
    background-image: url('../images/pasta.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;

}