img#login_bg {
    background-image: url("../images/login-bg.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#container {
    text-align: center;
}

input[type = "submit"] {
    display: inline-block;
    background-color: rgb(61, 172, 70);
    padding: 20px 100px;
    font-family: sans-serif, Arial;
    font-size: 16px;
}

input[type = "submit"]:hover {
    background-color: rgb(30, 110, 9);
    cursor:pointer;
}

#head {
    background-color: black;
    background-size: cover;
    color: white;
}