 /*hides radio button checks for menu items-----------------------------------------------------------------------------------------------------------------------------------------------------*/
 .radio-tools {
    margin: 10px;
    opacity: 0;
    position: fixed;
    width: 0;
}

/*creates clickable boxes for menu items and adds style to them---------------------------------------------------------------------------------------------------------------------------------*/
.item_label {
    display: inline-block;
    background-image: url("../images/button-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(53, 113, 128);
    width: 40%;
    height: 20%;
    padding: 2% 0%;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
}

.item_label:hover {
    border-color: rgb(221, 1, 241);
    cursor:pointer;
}

:checked + .item_label {
    border-color: rgb(95, 178, 255);
}

/*hides radio button checks and checkboxes for menu options-------------------------------------------------------------------------------------------------------------------------------------*/
.all_options {
    margin: 10px;
    opacity: 0;
    position: fixed;
    width: 0;
}

/*creates clickable boxes for menu item options and adds style to them--------------------------------------------------------------------------------------------------------------------------*/
.option_label {
    display: inline-block;
    background-color: #ddd;
    background-image: url("../images/option-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    padding: 1% 0%;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.option_label:hover {
    background-color: rgb(255, 253, 221);
    cursor:pointer;
}

:checked + .option_label {
    background-color: rgb(250, 255, 187);
    border-color: rgb(204, 195, 68);
}

/*Hides sub options by default ------NEED TO FIX THE HIDDEN AT START FUNCTIONS------------------------------------------------------------------------------------------------------------------------------------------------------------
#pasta_options,
#sauce_options,
#protein_options,
#topping_options,
#seasoning_options {
    display: none;
}
*/

/* Past Label with images */

.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}
.grid-item
{
    width: 300px;
    padding: 20px;
}
.grid-container2
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    width: 100%;
}
.grid-item2
{
    width: 100%;
    padding: 20px;
}
#l_penne
{
    background-image: url('../images/Penne.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    width: 300px;
}
#l_bowtie
{
    background-image: url('../images/bowtie.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    width: 300px;
}


#l_pesto
{
    background-image: url('../images/Pesto.jpg');
}
#l_marinara
{
    background-image: url('../images/Marinara-Sauce.jpg.webp');
}
#l_alfredo
{
    background-image: url('../images/alfredo_sauce.jpg');
}
#l_pesto,#l_marinara, #l_alfredo
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    width: 300px;
}
#l_chicken
{
    background-image: url('../images/Chicken.jpg');
}
#l_meatball
{
    background-image: url('../images/Meatball.jpg');
}
#l_crabmeat
{
    background-image: url('../images/Crabmeat.jpg');
}
#l_sausage
{
    background-image: url('../images/Sugar.jpg');
}
#l_shrimp
{
    background-image: url('../images/Shrimp.jpg');
}

#l_chicken,#l_meatball,#l_crabmeat,#l_sausage,#l_shrimp
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    width: 300px;
}

#l_corn
{
    background-image: url('../images/corn.jpg')

}
#l_onion
{

    background-image: url('../images/Onion.jpg')
}
#l_tomato
{
    background-image: url('../images/Tomato.jpg')

}
#l_broccoli
{
    background-image: url('../images/Broccoli.jpg')

}
#l_mushroom
{
    background-image: url('../images/Mushroom.jpg')
}

#l_corn,#l_onion,#l_tomato,#l_broccoli,#l_mushroom
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    width: 300px;
}