.loginSelect {
    display: inline-block;
    background-image: url("../images/button-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(53, 113, 128);
    width: 50%;
    padding: 2% 0%;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
}

.loginSelect:hover {
    border-color: rgb(221, 1, 241);
    cursor:pointer;
}