body {
    background: lightgray;
}

h1 {
    font-family:proxima-nova,sans-serif;
}

h2 {
    font-family:proxima-nova,sans-serif;
}

h3 {
    font-family:proxima-nova,sans-serif;
}

h4 {
    font-family:proxima-nova,sans-serif;
}

h5 {
    font-family:proxima-nova,sans-serif;
}

h6 {
    font-family:proxima-nova,sans-serif;
}

